.MainWrapper {
	width: 100%;
	display: flex;
	gap: var(--padding-small);
	align-items: flex-start;
	justify-content: flex-start;
	padding: var(--padding-small);
	background-color: var(--accent-color);
	height: var(100dvh - var(--navbar-height));
	// overflow-x: auto;
}