.Form {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 0.5rem;

	.Textarea {
		padding: 0.4rem;
		color: var(--card-color-text);
		font-family: inherit;
		font-size: 0.9rem;
		line-height: 1.4;
		overflow: hidden;
		word-wrap: break-word;
		background-color: var(--card-color);
		border: 2px solid transparent;
		outline: none;
		border-radius: 7px;

		&:focus {
			border-color: var(--accent-color);
		}
	}

	.ButtonsWrapper {
		display: flex;
		justify-content: flex-start;
		align-items: center;

		&>button:nth-child(2) {
			margin-left: 0.3rem;
			cursor: pointer;
			background-color: transparent;
			padding: 0.6rem;
			line-height: 0.7;
			border-radius: 7px;
			color: var(--bg-color-text);

			&:hover {
				background-color: var(--bg-color-hover);
			}
		}
	}
}