.Wrapper {
	width: var(--column-width);
	min-width: var(--column-width);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0.6rem;
	background-color: var(--bg-color);
	border-radius: 10px;
	overflow: hidden;
	max-height: 100%;

	.ColumnTitleWrapper {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 0.6rem;
		font-size: 1.2rem;
		font-weight: 500;

		.Title {
			cursor: pointer;
			margin-left: 0.4rem;
			flex: 1;
			color: var(--bg-color-text);
		}

		.TitleForm {
			flex: 1;

			&>input {
				font-size: 1rem;
				// font-family: inherit;
				color: var(--bg-color-text);
				background-color: var(--card-color);
				border-radius: 7px;
				display: block;
				font-size: inherit;
				height: 100%;
				padding: 0.1rem 0.3rem;
				border: none;
				// width: 100%;

				&:focus {
					outline-color: var(--accent-color);
				}
			}
		}
	}

	.CardsList {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 0.6rem;
		gap: 0.35rem;
		overflow-y: auto;
	}

	.AddCardButtonsWrapper {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 0.5rem;

		button.AddCard {
			flex: 1;
			display: flex;
			align-items: center;
			color: var(--bg-color-text);
			font-size: 1rem;
			padding: 0.5rem;
			border-radius: 9px;
			line-height: 1;
			cursor: pointer;
			transition: background-color 0.1s ease-in;

			&:hover {
				background-color: var(--bg-color-hover);
			}

			&>span {
				margin-right: 0.25rem;
			}
		}

		button.CardTemplate {
			padding: 0.5rem;
			border-radius: 7px;
			color: var(--bg-color-text);
			line-height: 0.8;
			cursor: pointer;

			&:hover {
				background-color: var(--bg-color-hover);
				transition: background-color 0.15s ease-in;
			}
		}
	}
}