.Wrapper {
	position: relative;
	z-index: 0;
	width: auto;
	place-content: center;

	>* {
		grid-area: 1 / 1;
	}

	.ReplicatedText {
		width: 100%;
		z-index: 1;
		visibility: hidden;
	}

	.Input {
		min-width: 0;
		position: absolute;
		top: 0;
		height: 100%;
		z-index: 2;
	}
}