.Wrapper {
	width: 100%;
	height: var(--board-navbar-height);
	min-height: var(--board-navbar-height);
	display: flex;
	color: white;
	font-weight: 600;
	align-items: center;
	padding: 0 var(--padding-small);
	background-color: rgba(0, 0, 0, 0.3);
}