.Wrapper {
	height: 100%;
	width: 100%;
	max-width: 100%;
	position: relative;
	background-color: transparent;
	padding-bottom: 0.3rem;

	.BoardScrollContainer {
		height: calc(100% - var(--board-topbar-height));
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		gap: var(--padding-small);
		padding: var(--padding-small);
		user-select: none;
		overflow-x: auto;

		.AddColumnButton {
			min-width: var(--column-width);
			background-color: var(--bg-color);
			color: var(--bg-color-text);
			border-radius: 10px;
			padding: var(--padding-small);
			font-size: 1rem;
			font-weight: 600;
			width: var(--column-width);
			display: flex;
			justify-content: flex-start;
			align-items: center;
			cursor: pointer;
			backdrop-filter: blur(0.07rem);
			transition: background-color 0.1s ease-in;

			&:hover {
				background-color: var(--bg-color-hover);
			}
		}

		// TODO: Need to make a generic input width default styles?
		.AddColumnForm {
			width: var(--column-width);
			min-width: var(--column-width);
			background-color: var(--bg-color);
			border-radius: 10px;
			padding: 0.6rem 0.6rem;

			&>input {
				width: 100%;
				font-size: 1rem;
				font-weight: bold;
				color: var(--bg-color-text);
				background-color: var(--card-color);
				border-radius: 7px;
				padding: 0.3rem;
				border: none;
				outline: 2px solid transparent;
				line-height: 1.2;

				&:focus {
					outline-color: var(--accent-color);
				}
			}

			.AddColumnFormButtonsWrapper {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				margin-top: 0.6rem;

				&>button:last-child {
					margin-left: 0.3rem;
					cursor: pointer;
					background-color: transparent;
					padding: 0.6rem;
					line-height: 0.7;
					border-radius: 7px;
					color: var(--bg-color-text);

					&:hover {
						background-color: var(--bg-color-hover);
					}
				}
			}
		}

		&::-webkit-scrollbar {
			height: 0.8rem;
		}

		&::-webkit-scrollbar-track {
			border-radius: 1rem;
			background-color: var(--color-scrollbar-track);
			margin: 0 var(--padding-small);
		}

		&::-webkit-scrollbar-thumb {
			border-radius: 1rem;
			background-color: var(--color-scrollbar-thumb);
		}
	}
}