.ColumnTitleWrapper {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 var(--padding-xs);
	font-size: 1rem;
	font-weight: bold;

	.Title {
		cursor: pointer;
		font-size: inherit;
		flex: 1;
		padding: 0.1rem 0.3rem;
		line-height: 1.5;
		color: var(--bg-color-text);
	}

	.IconButton {
		border-radius: 7px;
		display: inline-block;
		height: 100%;
		line-height: 0.8;
		aspect-ratio: 1;
		color: var(--bg-color-text);
		padding: 0.4rem;
		transition: background-color 0.1 ease-in;

		&:hover {
			background-color: var(--bg-color-hover);
		}
	}

	.TitleForm {
		flex: 1;
		margin-right: 4px;

		&>input {
			width: 100%;
			font-size: inherit;
			font-weight: inherit;
			font-family: inherit;
			color: var(--bg-color-text);
			background-color: var(--card-color);
			border-radius: 7px;
			height: 100%;
			padding: 0.25rem;
			line-height: 1.2;
			border: none;
			outline: 2px solid transparent;

			&:focus {
				outline-color: var(--accent-color);
			}
		}
	}
}