.ColumnTitleWrapper {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 var(--padding-xs);
	font-size: 1rem;

	font-weight: 600;

	.Title {
		cursor: pointer;
		font-size: inherit;
		flex: 1;
		padding: 0.4rem var(--padding-xs);
		// ! This is wome weird case where if the input and the 42 have same line height, the rendered height is diffenret
		line-height: calc(100% + 4px);
		border: 2px solid transparent;
		color: var(--bg-color-text);
	}

	.TitleForm {
		flex: 1;

		&>input {
			display: block;
			width: 100%;
			font-size: inherit;
			font-weight: inherit;
			font-family: inherit;
			line-height: 1;
			color: var(--bg-color-text);
			background-color: var(--card-color);
			border-radius: 7px;
			height: 100%;
			padding: 0.4rem var(--padding-xs);
			border: 2px solid transparent;
			outline: none;

			&:focus {
				border-color: var(--accent-color);
			}
		}
	}

	.IconButton {
		line-height: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		border-radius: 7px;
		color: var(--bg-color-text);
		transition: background-color 0.1 ease-in;
		border: 2px solid transparent;
		padding: 0.4rem;
		font-size: inherit;

		&>svg {
			// line-height: 1;
			width: 1em;
			height: 1em
		}

		&:hover {
			background-color: var(--bg-color-hover);
			border-color: var(--bg-color-hover);
		}
	}


}