@import '@radix-ui/colors/gray.css';
@import '@radix-ui/colors/gray-dark.css';
@import '@radix-ui/colors/slate.css';
@import '@radix-ui/colors/slate-dark.css';
@import '@radix-ui/colors/violet.css';
@import '@radix-ui/colors/violet-dark.css';
@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/white-alpha.css';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  // COLORS
  --accent-color: var(--violet-11);
  --accent-color-hover: var(--violet-9);

  --bg-color: var(--slate-3);
  --bg-color-hover: var(--slate-6);
  --bg-color-text: var(--slate-11);

  --transparent-bg-color: var(--white-a5);
  --transparent-bg-color-hover: var(--white-a7);

  --card-color: var(--slate-1);
  --card-color-hover: var(--slate-4);
  --card-color-text: var(--slate-12);

  --border-color: var(--slate-5);
  --tooltip-bg: var(--slate-12);
  --tooltip-text: var(--slate-3);

  --color-overlay: var(--black-a10);
  --color-board-topbar-light: var(--white-a5);
  --color-board-topbar-dark: var(--black-a5);

  --color-scrollbar-track: var(--white-a5);
  --color-scrollbar-thumb: var(--white-a8);

  --color-column-scrollbar-track: var(--slate-5);
  --color-column-scrollbar-thumb: var(--slate-8);

  // SIZES
  --navbar-height: 3rem;
  --board-topbar-height: 3.7rem;
  --sidebar-width: 17rem;
  --sidebar-collapsed-width: 1rem;
  --column-width: 18rem;

  --padding-small: 0.8rem;
}

html.dark {
  --bg-color: var(--slate-1);
  --bg-color-hover: var(--slate-4);
  --bg-color-text: var(--slate-12);

  --transparent-bg-color: var(--black-a6);
  --transparent-bg-color-hover: var(--black-a7);

  --card-color: var(--slate-3);
  --card-color-hover: var(--slate-6);
  --card-color-text: var(--slate-11);


  --color-scrollbar-track: var(--black-a5);
  --color-scrollbar-thumb: var(--black-a8);

  --color-column-scrollbar-track: var(--slate-2);
  --color-column-scrollbar-thumb: var(--slate-7);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  background-color: transparent;
}

input {
  font-family: Inter;
}